
/*
 * Woolball AI Network API
 *
 * **Transform idle browsers into a powerful distributed AI inference network**  For detailed examples and model lists, visit our [GitHub repository](https://github.com/woolball-xyz/woolball-server).
 *
 * API version: v1
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */
package swagger

import (
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type SpeechRecognitionApiService service
/*
SpeechRecognitionApiService Speech Recognition (Speech-to-Text)
Convert audio files to text using Whisper models. Supports MP3, WAV, M4A and other audio formats.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param model
 * @param dtype
 * @param input
 * @param returnTimestamps
 * @param stream
 * @param chunkLengthS
 * @param strideLengthS
 * @param forceFullSequences
 * @param language
 * @param task
 * @param numFrames
@return []SttChunk
*/
func (a *SpeechRecognitionApiService) SpeechToText(ctx context.Context, model string, dtype string, input Object, returnTimestamps string, stream bool, chunkLengthS int32, strideLengthS int32, forceFullSequences bool, language string, task string, numFrames int32) ([]SttChunk, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Post")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue []SttChunk
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/api/v1/speech-recognition"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(model) < 1 {
		return localVarReturnValue, nil, reportError("model must have at least 1 elements")
	}
	if strlen(dtype) < 1 {
		return localVarReturnValue, nil, reportError("dtype must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	localVarFormParams.Add("model", parameterToString(model, ""))
	localVarFormParams.Add("dtype", parameterToString(dtype, ""))
	localVarFormParams.Add("input", parameterToString(input, ""))
	localVarFormParams.Add("return_timestamps", parameterToString(returnTimestamps, ""))
	localVarFormParams.Add("stream", parameterToString(stream, ""))
	localVarFormParams.Add("chunk_length_s", parameterToString(chunkLengthS, ""))
	localVarFormParams.Add("stride_length_s", parameterToString(strideLengthS, ""))
	localVarFormParams.Add("force_full_sequences", parameterToString(forceFullSequences, ""))
	localVarFormParams.Add("language", parameterToString(language, ""))
	localVarFormParams.Add("task", parameterToString(task, ""))
	localVarFormParams.Add("num_frames", parameterToString(numFrames, ""))
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v []SttChunk
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 400 {
			var v Object
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
